body {
  color: white;
}

.container-fluid {
  padding: 0;
}

.nationalnews {
  background: -webkit-gradient(linear, left top, left bottom, from(#093B80), to(#0346A0));
  background: linear-gradient(to bottom, #093B80, #0346A0);
  padding-top: 10px;
}

.nationalnews strong {
  border-bottom: 2px solid white;
}

.nationalnews .fa-x {
  margin-top: 20px;
}

.welcome {
  background-color: #012B61;
}

.welcome a {
  color: white;
  text-decoration: none;
}

.welcome .fontsize .s {
  font-size: 12px;
  padding-right: 6px;
}

.welcome .fontsize .m {
  font-size: 14px;
  padding-right: 6px;
}

.welcome .fontsize .l {
  font-size: 16px;
}

.welcome .custom-select {
  background: none;
  color: white;
  border: none;
}

.welcome .custom-select option {
  color: black;
}

.header {
  color: #C50714;
}

.header .img img {
  width: 100px;
}

.header .spart img {
  width: 60px;
  height: 80px;
}

.header p {
  margin-bottom: 0px;
}

.nav {
  background-color: #0247A2;
}

.nav .navbar-brand, .nav .nav-link {
  color: white;
}

.nav .nav-item:hover .dropdown-menu {
  display: block;
}

.nav .dropdown-menu .dropdown-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .dropdown-menu li {
  margin: 0 6px;
}

.nav .dropdown-menu li:hover .dropdown-item {
  color: white;
  background-color: #0247A2;
}

.carousal .row {
  width: 100%;
  margin: 0;
}

.carousal .col-xl-9, .carousal .col-xl-3 {
  padding: 0;
}

.carousal .carousel-inner img {
  height: 600px;
}

.carousal .carousel-caption {
  left: -50%;
}

.carousal .carousel-caption p {
  background-color: #0247A2;
  display: inline-block;
  padding: 10px 20px;
}

.carousal .carousel-control-prev-icon, .carousal .carousel-control-next-icon {
  background-color: #0247A2;
  background-size: 18px;
  padding: 0px;
  border-radius: 50%;
}

.carousal .item1 img {
  padding-left: 140px;
}

.carousal .col-xl-3 {
  background-color: #0247A2;
}

.carousal .col-xl-3 img {
  width: 80px;
  margin-right: 20px;
}

.carousal .col-xl-3 p {
  margin: 0;
}

.services .head h4 {
  color: black;
}

.services .head h4 strong {
  border-bottom: 2px solid #0247A2;
}

.services .head button {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #0247A2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .head button:hover {
  background-color: #0247A2;
  color: white;
}

.services .sbox {
  background-color: #013271;
  width: 19%;
}

.services .sbox img {
  width: 60px;
}

.services .sbox p {
  padding-top: 10px;
}

.highlights .fpart {
  padding: 40px 20px;
  background-color: #0247A2;
}

.highlights .fpart p {
  font-size: 14px;
}

.highlights .fpart hr {
  opacity: 1;
  margin-top: 20px;
}

.highlights .col-lg-8 {
  background-color: #0247A2;
}

.highlights .spart {
  padding: 20px;
}

.highlights .spart .nav-link.active {
  background-color: #013271;
}

.highlights .spart .fade:not(.show) {
  display: none;
}

.highlights .spart .tab-pane {
  height: 340px;
  overflow: auto;
}

.highlights .spart button {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  color: #0247A2;
}

.office h4 {
  color: black;
}

.office h4 strong {
  border-bottom: 2px solid #0247A2;
}

.office img {
  width: 60%;
}

.office .otexts {
  background-color: #0247A2;
  text-align: center;
  padding: 10px;
}

.office .otexts p {
  margin-bottom: 4px;
}

.office .otexts .oborder {
  border: 1px solid white;
  padding: 40px 30px 30px 30px;
}

.mission {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #0247A2), color-stop(0, #fff));
  background: linear-gradient(90deg, #0247A2 30%, #fff 0);
  padding: 36px 0;
  color: black;
}

.mission h4 strong {
  border-bottom: 2px solid #0247A2;
}

.mission img {
  width: 450px;
}

.mission p {
  margin-bottom: 4px;
}

.mission button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0247A2;
  color: white;
}

.gallery h4 {
  color: black;
}

.gallery h4 strong {
  border-bottom: 2px solid #0247A2;
}

.gallery button {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #0247A2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery button:hover {
  background-color: #0247A2;
  color: white;
}

.gallery ul {
  margin: auto;
  width: 240px;
}

.gallery ul li {
  background-color: #F2F2F2;
  display: inline-block;
  border-radius: 50px;
}

.gallery .nav {
  background: none;
}

.gallery .nav-pills .nav-link.active {
  background-color: #0247A2;
  border-radius: 50px;
}

.gallery .nav-link {
  color: #A1A1A1;
}

.gallery .fade:not(.show) {
  display: none;
}

.gallery .tab-pane img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.gallery .tab-pane p {
  color: black;
}

.gallery .tab-pane .col-lg-3 div {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gallery .tab-pane .col-lg-3 div:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer {
  background-color: #023982;
}

.footer a {
  color: white;
  padding-right: 30px;
}

.footer ul {
  height: 260px;
  overflow: auto;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.footer ul li {
  list-style: none;
}

.footer iframe {
  width: 280px;
  height: 250px;
}

.copyrights {
  background-color: #012B61;
  padding-top: 16px;
}

.copyrights span {
  background-color: #0247A2;
  padding: 10px 10px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .custom-select, .fontsize .l {
    font-size: 14px !important;
  }
  .fontsize .m {
    font-size: 12px !important;
  }
  .fontsize .s {
    font-size: 10px !important;
  }
  .welcome .dropdown, .welcome .form-check label {
    font-size: 14px;
  }
  h5 {
    font-size: 16px;
  }
  .footer iframe {
    width: 230px;
    height: 220px;
  }
  .carousal .col-xl-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }
  .carousal .col-xl-3 .pt-4 {
    padding: 0 !important;
  }
}

@media (max-width: 992px) {
  .nationalnews {
    display: none;
  }
  .welcome .spart {
    display: none;
  }
  .nav .navbar-toggler {
    color: white;
  }
  .carousal .item1 img {
    padding-left: 0px;
  }
  .highlights .col-lg-4 {
    padding-bottom: 30px;
  }
  .mission {
    background: none;
  }
  .gallery .col-lg-3 div {
    text-align: center;
  }
  .gallery .col-lg-3 div img {
    width: 50%;
  }
  .gallery .col-lg-3 div .justify-content-between {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .gallery .col-lg-3 div .justify-content-between p {
    padding-right: 20px;
  }
  .copyrights .row, .copyrights .text-end {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .carousal .carousel-inner img {
    height: 450px;
  }
  .header p {
    font-size: 12px;
  }
  .header h3 {
    font-size: 14px;
  }
  .header .img img {
    width: 65px;
  }
  .header .spart img {
    width: 40px;
    height: 55px;
  }
  .header .spart p {
    display: none;
  }
  .carousal .col-xl-9 {
    padding-bottom: 20px;
  }
  .carousal .col-xl-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousal .col-xl-3 .d-flex {
    padding-bottom: 10px !important;
  }
  .services .flexx .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .flexx .sbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .services .flexx .sbox .img {
    padding-right: 10px;
  }
  .services .flexx .sbox .img img {
    width: 50px;
  }
  .services .flexx .pt-5, .services .flexx .pb-4 {
    padding: 20px 10px !important;
  }
  .services .flexx .pt-3 {
    padding: 0 !important;
  }
}

@media (max-width: 500px) {
  .welcome p {
    font-size: 12px;
  }
  .mission img {
    width: 100%;
  }
  .copyrights p {
    font-size: 10px;
  }
  .gallery .tab-pane img {
    height: 160px;
  }
  .carousal .carousel-inner img {
    height: 300px;
  }
  .header p {
    font-size: 10px;
  }
  .header h3 {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */